﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MyFirstView</title>
</head>
<body>
    <div>
        @ViewBag.WelcomeMessage My view is working!
        <br />
        <a asp-action="SupervisorInfo">
            Click to see Supervisor Info.
        </a>
        <br />
        <br />
        Current time is: @ViewBag.Time
    </div>
</body>
</html>
