﻿
@{
    Layout = null;
}
@model List<Supervisor>;

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CoachInfoList</title>
</head>
<body>
    <div>
        This is a list of the supervisors: <br /><br />

        @foreach (Supervisor supervisor in Model)
        {
            @supervisor.Name @:is a @supervisor.Level level supervisor. He is 
            @if (supervisor.IsAvailable)
            {
                @:available
            }
            else
            {
                @:not available
            }<br /><br />
        }
        <br /><br />


        <a asp-action="Index">
            Back.
        </a>


    </div>
</body>
</html>
