﻿
@{
    Layout = null;
}
@model Task24.Models.Supervisor;

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CoachInfo</title>
</head>
<body>
    <div>
        Displaying a supervisor, his name is @Model.Name,
        he is level @Model.Level. <br />
        @if (Model.IsAvailable)
        {
            @:He is available!
        }
        else
        {
            @:He is not available!
        }
        <br /><br />
        <a asp-action="SupervisorInfoList">
            See all Supervisors!
        </a>
        <br />
        <a asp-action="Index">
            Back.
        </a>


    </div>
</body>
</html>
